@model Entities.TaskItem

@{
    ViewData["Title"] = "Edit Task";
}

<h2>Edit Task</h2>

<form asp-controller="Tasks" asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div><br /><br />

    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div><br /><br />

    <div>
        <input asp-for="IsCompleted" />
        <label asp-for="IsCompleted">Is Completed</label>
    </div><br /><br />

    <input type="hidden" asp-for="TaskId" />
    <input type="hidden" asp-for="CreatedDate" />
    <input type="submit" value="Save" class="btn btn-primary" /> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</form>
